.App{
  margin: 0%;
  overflow: hidden;
}
.title{
  text-align: center;
  border-bottom: 1px solid lightcyan;
  /* box-shadow: 0 0 25px 0; */
  color: darkcyan;
}

.row{
  padding-left: 2%;
  padding-right: 2%;
}