.App{
  margin: 0%;
  overflow: hidden;
}
.title{
  text-align: center;
  border-bottom: 1px solid lightcyan;
  /* box-shadow: 0 0 25px 0; */
  color: darkcyan;
}

.row{
  padding-left: 2%;
  padding-right: 2%;
}
.is-displayed{
  display: block;
 
}
.card-item{
  opacity: .8;
}
.card-item:hover{
  transition: transform .8s;
  z-index: 2;
  transform: scale(1.05);
  box-shadow: 4px 4px 4x 4px;
}